In [1]:
print('Hello')

Hello

In [2]:
import sklearn
print(sklearn.__version__)

1.7.2

In [19]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
X, y = make_classification(n_samples=1000, n_features=4,
                           n_informative=2, n_redundant=0,
                           random_state=0, shuffle=False)
clf = RandomForestClassifier(max_depth=2, random_state=0)
clf.fit(X, y)
print(clf.predict([[0, 0, 0, 0]]))
print(clf.score(X,y))

[1]
0.946

In [9]:
import pandas as pd

df = pd.read_excel("possible_dataset_example.xlsx")

df.head()

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,duration,conn_state,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,label
0,1525879831.01581,CUmrqr4svHuSXJy5z7,192.168.100.103,51524.0,65.127.233.163,23.0,tcp,2.999051,S0,S,3.0,180.0,0.0,0.0,Malicious
1,1525879831.02505,CH98aB3s1kJeq6SFOc,192.168.100.103,56305.0,63.150.16.171,23.0,tcp,-,S0,S,1.0,60.0,0.0,0.0,Malicious
2,1525879831.04504,C3GBTkINvXNjVGtN5,192.168.100.103,41101.0,111.40.23.49,23.0,tcp,-,S0,S,1.0,60.0,0.0,0.0,Malicious
3,1525879832.01624,CDe43c1PtgynajGI6,192.168.100.103,60905.0,131.174.215.147,23.0,tcp,2.998796,S0,S,3.0,180.0,0.0,0.0,Malicious
4,1525879832.02498,CJaDcG3MZzvf1YVYI4,192.168.100.103,44301.0,91.42.47.63,23.0,tcp,-,S0,S,1.0,60.0,0.0,0.0,Malicious

In [10]:
labels = df['label']
labels.head()

0    Malicious
1    Malicious
2    Malicious
3    Malicious
4    Malicious
Name: label, dtype: object

In [11]:
df.head()

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,duration,conn_state,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes,label
0,1525879831.01581,CUmrqr4svHuSXJy5z7,192.168.100.103,51524.0,65.127.233.163,23.0,tcp,2.999051,S0,S,3.0,180.0,0.0,0.0,Malicious
1,1525879831.02505,CH98aB3s1kJeq6SFOc,192.168.100.103,56305.0,63.150.16.171,23.0,tcp,-,S0,S,1.0,60.0,0.0,0.0,Malicious
2,1525879831.04504,C3GBTkINvXNjVGtN5,192.168.100.103,41101.0,111.40.23.49,23.0,tcp,-,S0,S,1.0,60.0,0.0,0.0,Malicious
3,1525879832.01624,CDe43c1PtgynajGI6,192.168.100.103,60905.0,131.174.215.147,23.0,tcp,2.998796,S0,S,3.0,180.0,0.0,0.0,Malicious
4,1525879832.02498,CJaDcG3MZzvf1YVYI4,192.168.100.103,44301.0,91.42.47.63,23.0,tcp,-,S0,S,1.0,60.0,0.0,0.0,Malicious

In [16]:
df = df.drop(['label'], axis=1)
df.head()

,ts,uid,id.orig_h,id.orig_p,id.resp_h,id.resp_p,proto,duration,conn_state,history,orig_pkts,orig_ip_bytes,resp_pkts,resp_ip_bytes
0,1525879831.01581,CUmrqr4svHuSXJy5z7,192.168.100.103,51524.0,65.127.233.163,23.0,tcp,2.999051,S0,S,3.0,180.0,0.0,0.0
1,1525879831.02505,CH98aB3s1kJeq6SFOc,192.168.100.103,56305.0,63.150.16.171,23.0,tcp,-,S0,S,1.0,60.0,0.0,0.0
2,1525879831.04504,C3GBTkINvXNjVGtN5,192.168.100.103,41101.0,111.40.23.49,23.0,tcp,-,S0,S,1.0,60.0,0.0,0.0
3,1525879832.01624,CDe43c1PtgynajGI6,192.168.100.103,60905.0,131.174.215.147,23.0,tcp,2.998796,S0,S,3.0,180.0,0.0,0.0
4,1525879832.02498,CJaDcG3MZzvf1YVYI4,192.168.100.103,44301.0,91.42.47.63,23.0,tcp,-,S0,S,1.0,60.0,0.0,0.0

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df, labels, test_size=0.33, random_state=42)

In [ ]:
clf = RandomForestClassifier(max_depth=4, random_state=0)
clf.fit(X_train, y_train)
print(clf.score(X_test,y_test))

ValueError: could not convert string to float: '#close'